services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
      args:
        - APP_ENV=${APP_ENV}
    command: >
      sh -c "php artisan migrate --force && php artisan config:cache && php artisan route:cache && php artisan view:cache && php-fpm"
    ports: []
    entrypoint: []
    environment:
      - APP_ENV=${APP_ENV}

  nginx:
    image: nginx:alpine
    container_name: socializeai-nginx
    ports:
      - "6325:80"
    volumes:
      - ./backend:/var/www/html
      - ./backend/.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  queue:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
      args:
        - APP_ENV=${APP_ENV}
    command: php artisan queue:work --verbose --tries=3 --timeout=90
    ports: []
    entrypoint: []
    environment:
      - APP_ENV=${APP_ENV}

  scheduler:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
      args:
        - APP_ENV=${APP_ENV}
    command: sh -c "while [ true ]; do php artisan schedule:run --verbose --no-interaction; sleep 60; done"
    ports: []
    entrypoint: []
    environment:
      - APP_ENV=${APP_ENV}

  spa:
    build:
      context: ./spa
      dockerfile: Dockerfile.prod
    ports:
      - "6326:80"
    volumes: []
    entrypoint: []
    command: []
    depends_on:
      - nginx